@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bright-green: rgb(0, 233, 47);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.poem, .poetry-input {
  font-family: "Georgia", serif;
}

.container {
  width: 1100px;
  max-width: 85%;
  margin-inline: auto;
}

body {
  color: #222;
  background-color: #f8f8f8;
  font-size: 14px;
  @apply lg:text-lg;
}

#root {
  position: relative;
  min-height: 100vh;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.3em;
  margin-top: 0.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  width: 35rem;
}

input {
  @apply border border-gray-900 text-lg px-3 py-2 rounded-md;
}

button {
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  @apply rounded-md bg-[var(--bright-green)] hover:bg-white transition;
}

.hide-when-loading {
  transition: opacity 1s;
}
.hide-when-loading.loading {
  opacity: 0;
}

.poems-loaded .hide-before-data-load {
  opacity: 1;
}

.poetry-input {
  border: none;
  border-bottom: 1px solid;
  @apply border-b border-gray-300 bg-transparent rounded-none px-0 my-3 text-3xl py-1 focus:border-gray-700 outline-none lg:min-w-[22rem];
}
.poetry-input:focus::-moz-placeholder {
  color: transparent;
}
.poetry-input:focus:-ms-input-placeholder {
  color: transparent;
}
.poetry-input:focus::placeholder {
  color: transparent;
}

.poetry-inputs.new-poem {
  grid-template-columns: 1fr 2fr;
}

.last-line {
  @apply border-none min-w-0;
}

.poem-wrapper {
  position: relative;
}

.poem {
  width: 40rem;
  max-width: 100%;
  color: #222;
  position: relative;
  cursor: pointer;
}
.poem:hover {
  color: #222;
}

.single-poem .poem {
  position: absolute;
}
.poem-lines {
  transition: all 0.75s;
  cursor: pointer;
  pointer-events: all;
}
.poem-lines:hover {
  color: var(--bright-green);
  transition: all 0.1s;
}

.single-poem.hidden-spacer-poem {
  position: static;
  opacity: 0;
  pointer-events: none;
}
.single-poem.hidden-spacer-poem .poem-lines {
  pointer-events: none;
}

.poem-line {
  display: inline-block;
}

.poem-lines:after {
  content: attr(data-location);
  position: absolute;
  top: -1rem;
  left: 0;
  color: grey;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s 0.2s;
}

.poem-lines:hover:after {
  opacity: 1;
}

.poem:hover .poem-lines:not(:hover) {
  opacity: 0.5;
}

.poem .poem-lines .ti-cursor {
  display: none;
}

.poem-lines:last-child .ti-cursor {
  display: inline-block;
}

.single-poem .poem {
  border: none;
  @apply text-2xl leading-9;
}

.long-arrow-down:after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2px) rotate(45deg);
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: currentColor;
}